*{
    margin: 0;
    padding: 0;
}
.body{
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.cabeçalho{
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 29px 0;
}
.lista-item-cabeçalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}
.Artigo-GTA-VI{
    background-image: linear-gradient(#5C6D87, #598daa);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.Conteúdo-artigo-div{
    width: 35%;
}
.Titulo-artigo{
    padding: 24px;
}
.texto-artigo-1{
}
.texto-artigo-2{
}
.Img-trailer-1{
 width: 125%;
 height: 125%;
}