*{
    margin: 0;
    padding: 0;
}
header {
    background-color: #424E61;
    color: #CFDFED;
}
.imagem-cabeçalho{
    width: 20%;
}
.cabeçalho{
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 29px 0;
}
.lista-cabeçalho{
    display: inline-block;
    margin: 0 16px;
}
.lista-item-cabeçalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.Artigo-GTA-VI{
    background-image: linear-gradient(#5C6D87, #598daa);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.Conteúdo-artigo-div{
    width: 35%;
}
.sublinha-1{

 Color: rgb(184, 48, 48);
}
.Titulo-artigo{
}
.texto-artigo-1{
}
.texto-artigo-2{
}
.Img-trailer-1{
 width: 125%;
 height: 125%;
}